body {
 margin: 0;
 padding: 25px;
   background-color: #FDFEFE;
    font-family: 'Josefin Sans', sans-serif;

}
	h2 {
	color: #ff3e80;

}

#content-body {
	margin-right: 100px;
	margin-left: 100px;
	}

#content-name {
	background-color: gray;
	padding-top: 30px;
	padding-bottom: 30px;
}

